body
{    
    background-color: rgb(66, 175, 170);
}
header, footer
{
    background-color: rgb(66, 175, 170);
    min-height: 105px;
}
.navbar.bg-body-tertiary
{
    background-color: rgb(20, 146, 140) !important;
    height: auto;
    min-height: 120px;
    font-size: x-large;
}
main 
{    
    padding-bottom: 150px;
    background-color:  rgb(140, 240, 235);
}
main p
{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
h1, h2, h3, h4
{
    text-align: center;
    padding-top: 30px;
}
label
{
    font-size: 20px;
}
.custom-border 
{
    border: 7px outset ; 
    border-color: rgb(66, 175, 170);
    border-radius: 5px; 
    min-height: 300px;    
}
.border-bot
{
    border-bottom: 3px solid  rgb(66, 175, 170);
}
footer p
{
    margin: 0px;
}
.bntListe
{   
    padding-top: 20px;
    text-align: center;
    padding-left: 0;
    list-style: none; 
}
.albumList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    list-style-image: url("../Images/li_note.png");
}
.validationList, .validationUl
{
    text-align: center;
    padding-left: 0;
    list-style: none;
}
.bntListe li
{
    margin: 20px 0px;
}
.styled-button
{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(20, 146, 140);
    border: 5px outset rgb(20, 146, 140);
    color: rgb(140, 240, 235);
    border-radius: 5px;  
    font-size: large;  
    font-weight: 500;
    width: 200px;
    padding: 10px 0px;
	background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.6),
                inset -4px -4px 8px rgba(0, 0, 0, .6);
}
.styled-button:active 
{
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.6),
                inset 4px 4px 8px rgba(0, 0, 0, .6);
}
input::placeholder
{
    color: rgb(189, 189, 189) !important;
}
.showLink, .styled-button:hover
{
    background-color: rgb(66, 175, 170); 
    cursor: pointer;
}
#target
{
    color: black;
    text-decoration: none;
}
#target:hover
{
    cursor: pointer;
}
.red
{
    color: red;
}
.resize
{
    width: 85px;
    height: auto;
}

